{% extends "index.html" %}

<!-- Page Header-->
{% block header %}
<header class="masthead" style="background-image: url('static/assets/header-image/auntie-te.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h4>In our hearts forever</h4>
                    <div class="divider-custom divider-light">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <span class="subheading"><small>Sunrise: Dec.14th,1937</small></span>
                    <span class="subheading"><small>Sunset: Mar.25th,2022</small></span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<h4 class="text-center">{{ page_title }}</h4>
<hr class="featurette my-4">

{% for collect in collection %}
<div class="mb-4 row featurette">
    {% if loop.index % 2 != 0 %}

    <div class="col-md-7">
        <h5><a href="/about/{{ collect.url }}"> {{ loop.index }}. <u>{{ collect.name }}</u></a></h5>
        <div class="cards" style="width: 100%;">
            <div class="card-body">
                <p class="card-text">{{ collect.description }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <img src="{{ collect.image_source }}" alt="" class="featurette-image image-responsive">
    </div>

    {% else %}

    <div class="col-md-5">
        <img src="{{ collect.image_source }}" alt="" class="featurette-image imga-responsive">
    </div>
    <div class="col-md-7">
        <h5><a href="/about/{{ collect.url }}"> {{ loop.index }}. <u>{{ collect.name }}</u></a></h5>
        <div class="cards" style="width: 100%;">
            <div class="card-body">
                <p class="card-text">{{ collect.description }}</p>
            </div>
        </div>
    </div>

    {% endif %}
</div>

{% if loop.index != loop.length %}
<hr class="featurette-divider">
{% endif %}

{% endfor %}

{% endblock %}

{% block gallery %}
{% endblock %}