{% extends "index.html" %}
<!-- Page Header-->
{% block header %}
<header class="masthead" style="background-image: url('static/assets/header-image/angel-auntie.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h4>In our hearts forever</h4>
                    <div class="divider-custom divider-light">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <span class="subheading"><small>Sunrise: Dec.14th,1937</small></span>
                    <span class="subheading"><small>Sunset: Mar.25th,2022</small></span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<h3 class="text-center">{{ page_title }}</h3>

<div class="row mb-4">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p><small> You can get in touch with the family with your Name and condolense message. They will be glad to hear
                from
                you!</small></p>
        <form onsubmit="return sendMail(this);" methods="POST" name="sentMessage" id="contactForm" novalidate>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Name" id="name" required
                        data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Message</label>
                    <textarea rows="5" class="form-control" name="message" placeholder="Message" id="message" required
                        data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary" id="sendMessageButton">Send Condolence</button>
            </div>
        </form>
    </div>
</div>
<div class="row success"></div>

{% endblock %}


{% block gallery %}
{% endblock %}